:root {
    --winframe-namebar-bg: rgb(0 0 0 / 90%);
    --winframe-namebar-fg: #eee;
    --winframe-menubar-bg: rgb(38 37 37 / 90%);
    --winframe-menubar-fg: #eee;
}
.root {
    position: absolute;
    /* border: 1px solid var(--winframe-namebar-bg); */
    /* box-shadow: 1px 2px 6px 1px #000; */
    height: 300px;
    width: 70vw;
    top: 0;
    left: 0;
    border-radius: 4px;
    overflow: hidden;
    transition: all 100ms ease-in;
    max-width: 100vw;
    max-height: 100vh;
    box-shadow: 1px 2px 6px 1px #000;
}
/* .defaultSized {
    
    
} */
.bar {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.namebar {
    background-color: var(--winframe-namebar-bg);
    color: var(--winframe-namebar-fg);
    position: relative;
    /* display: flex;
    justify-content: space-between; */
}
.namebar .btns {
    position: absolute;
    right: 0;
    top: 0;
}
.namebar .dragIco {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 10px;
    background: rgb(255 255 255 / 25%);
    cursor: grabbing;
}
.namebar .btns i {
    height: 24px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.namebar .btns i:hover {
    background-color: rgb(255 255 255 / 9%);
}
.menubar {
    background-color: var(--winframe-menubar-bg);
    color: var(--winframe-menubar-fg);
    justify-content: left;
    font-size: 13px;
}

.menu {
    margin-left: 10px;
}

.body {
    background: rgb(255 255 255 / 90%);
    color: #000;
    overflow: auto;
}

.loadingComp {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 70%);
    color: #fff;
    font-size: 22px;
}

.repositionHandle {
    position: absolute;
    bottom: 0;
    right: 0;
    /* transform: rotate(-45deg); */
    font-size: 18px;
    color: rgb(128 128 128 / 56%);
    cursor: se-resize;
}