.root {
    background: rgba(0 0 0 / 90%);
    height: 100%;
    width: 100%;
    color: #eee;
    padding: 7px;
    font-family: monospace;
}
.inputArea {
    outline: none !important;
    border: none !important;
    height: 100%;
    width: 100%;
    background: transparent;
    color: #fff;
}