.root {
    background: rgba(0 0 0 / 90%);
    min-height: 100%;
    min-width: 100%;
    color: #eee;
    padding: 7px;
    font-family: monospace;
    line-height: 1.5;
    font-size: 15px;
}
/* .root > .inner {
    
} */
.historyTxt {
    white-space: pre-line;
}
.inputArea {
    outline: none !important;
    border: none !important;
    min-height: 300px;
    height: 100%;
    width: 100%;
    background: transparent;
    color: #fff;
    resize: none;
    padding: 2px 0;
}