.root {
    min-height: 100%;
    background: #000;
    color: #eee;
    /* padding: 10px; */
}
.locationBar {
    position: relative;
    overflow: hidden;
}
.locationBar .loc {
    padding: 7px 15px;
    border-bottom: 1px solid #666;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 15px; */
    height: 30px;
}
.locationBar .btns {
    position: absolute;
    top: 0;
    right: 0;
}
.locationBar .btns i {
    padding: 7px 9px;
}
.inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    padding: 20px 30px;
}